<h3>Step 3. Show history</h3>

<p class="info">
  By default the mongol API only allows fetching 2 days at once. For your convenience I've collected
  data for a longer period and provided a graph for visualisation. Because of the amount of data
  involved here is now "raw data" option. It comes down to an array of the transmit data shown above.
  You can pick any of the properties to show in detail here.
</p>

<p>
  <mat-form-field>
    <mat-label>Property</mat-label>
    <mat-select [(ngModel)]="selectedProperty" (selectionChange)="updateChart()">
      <mat-option *ngFor="let p of properties" [value]="p">
        {{p}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Chart Type</mat-label>
    <mat-select [(ngModel)]="selectedChartType" (selectionChange)="updateChart()">
      <mat-option *ngFor="let t of chartTypes" [value]="t">
        {{t}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<div class="chart-container">
  <canvas id="Chart">{{ chart }}</canvas>
</div>



