<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="info">Get another view on your data</span>
</mat-toolbar>

<div class="content">

  <mat-card>
    <mat-card-content>
      <app-get-units></app-get-units>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-last-transmit></app-last-transmit>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-history></app-history>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <p class="info">Source code for this project is available at <a href="https://github.com/hanscappelle/zerong-webapp">https://github.com/hanscappelle/zerong-webapp</a></p>
      <p class="info">Upcoming features:</p>
      <ul class="info">
        <li>show location plotted on map</li>
        <li>provide data export option</li>
        <li>allow alternative timespans</li>
      </ul>
      <p class="info">Done:</p>
      <ul class="info">
        <li><s>share all this code on github</s></li>
        <li><s>allow selection of specific unit</s></li>
        <li><s>support selection of any property</s></li>
        <li><s>fetch at least 20 days of data</s></li>
        <li><s>allow filtering out wrong values</s></li>
      </ul>
    </mat-card-content>
  </mat-card>

</div>

