<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="info">Get another view on your data</span>
</mat-toolbar>

<div class="content">

  <mat-card>
    <mat-card-content>
      <app-get-units></app-get-units>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-last-transmit></app-last-transmit>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-history></app-history>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <p class="info">
        Upcoming features:
        - show location plotted on map
        - provide data export option
      </p>
    </mat-card-content>
  </mat-card>

</div>

