<h3>Step 2. Show last received details</h3>

<p>
  mileage: [<span class="id">{{lastTransmit?.mileage }}</span>]
  software version: [<span class="id">{{lastTransmit?.software_version }}</span>]
  main voltage: [<span class="id">{{lastTransmit?.main_voltage }}</span>]
  soc: [<span class="id">{{lastTransmit?.soc }}</span>]
  tipover: [<span class="id">{{lastTransmit?.tipover }}</span>]
  charging: [<span class="id">{{lastTransmit?.charging }}</span>]
  charge complete: [<span class="id">{{lastTransmit?.chargecomplete }}</span>]
  plugged in: [<span class="id">{{lastTransmit?.pluggedin }}</span>]
  charging time left: [<span class="id">{{lastTransmit?.chargingtimeleft }}</span>]
</p>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      RAW response
    </mat-panel-title>
    <mat-panel-description>
      See full response here
    </mat-panel-description>
  </mat-expansion-panel-header>
  <pre>{{data$ | async | json }}</pre>
</mat-expansion-panel>
