/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.info {
  font-size: small;
  opacity: 0.6;
}

.id {
  font-family: monospace;
  font-weight: 200;
  font-size: large;
}

.id:before {
  content: "\005B";
  margin-right: 2px;
}

.id:after {
  content: "\005D";
  margin-left: 2px;
}
